@charset "UTF-8";

$font_size: 16px;
$line_height: percentage(20px / $font_size);

$blue: #2c8ef8;
$indigo: #727cf5;
$purple: #6b5eae;
$pink: #ff679b;
$red: #fa5c7c;
$orange: #fd7e14;
$yellow: #ffbc00;
$green: #0acf97;
$teal: #02a8b5;
$cyan: #39afd1;
$white: #fff;
$gray: #98a6ad;
$gray-dark: #343a40;
$primary: #727cf5;
$secondary: #6c757d;
$success: #0acf97;
$info: #39afd1;
$warning: #ffbc00;
$danger: #fa5c7c;
$light: #eef2f7;
$dark: #313a46;

$list-menu-color: #8391a2;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1367px;
$font-family-sans-serif: "Nunito", sans-serif;
$font-family-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono",
  "Courier New", monospace;

$root-marign: 0;
$root-padding: 0;
$root-background-color: #fafbfe;

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Light.eot);
  src:
    local("Nunito Light"),
    local("Nunito-Light"),
    url(../fonts/Nunito-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Nunito-Light.woff) format("woff"),
    url(../fonts/Nunito-Light.ttf) format("truetype"),
    url(../fonts/Nunito-Light.svg#Roboto) format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Regular.eot);
  src:
    local("Nunito Regular"),
    local("Nunito-Regular"),
    url(../fonts/Nunito-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Nunito-Regular.woff) format("woff"),
    url(../fonts/Nunito-Regular.ttf) format("truetype"),
    url(../fonts/Nunito-Regular.svg#Roboto) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-SemiBold.eot);
  src:
    local("Nunito SemiBold"),
    local("Nunito-SemiBold"),
    url(../fonts/Nunito-SemiBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Nunito-SemiBold.woff) format("woff"),
    url(../fonts/Nunito-SemiBold.ttf) format("truetype"),
    url(../fonts/Nunito-SemiBold.svg#Roboto) format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito-Bold.eot);
  src:
    local("Nunito Bold"),
    local("Nunito-Bold"),
    url(../fonts/Nunito-Bold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/Nunito-Bold.woff) format("woff"),
    url(../fonts/Nunito-Bold.ttf) format("truetype"),
    url(../fonts/Nunito-Bold.svg#Roboto) format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: unicons;
  src: url(../fonts/unicons.eot?);
  src:
    url(../fonts/unicons.eot#iefix) format("embedded-opentype"),
    url(../fonts/unicons.woff2) format("woff2"),
    url(../fonts/unicons.woff) format("woff"),
    url(../fonts/unicons.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
